.content {
    margin-left: 40vh;
}

.chatAdminChild {
    float: left;
    width: 30%;
}

.chatAdminChildd {
    float: left;
    width: 70%;
}

hr {
    border: none;
    border-top: 3px solid #5e1b1b; 
    margin: 10px 0; 
  }