.container {
    width: 350px;
    height: 150px;
    margin-top: 1em;
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
}

.container:hover {
    background-color: black;
    width: 500;
}